<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MSTORE ADMIN</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
    <link rel="stylesheet" href="/css/adminlog.css">
</head>
<body>
    <nav>
        <div class="wrapper">
          <div class="logo"><img src="/images/Screenshot__27_-removebg-preview.png" alt="" width="100px" class="logoimg"></div>
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="#">ADMIN REGISTER</a></li>
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
      </nav>
      <div class="main">

        <div class="formbox">
       <form action="/adminlogin" method="post">
    
          <label for="">NAME</label><br>
          <input type="text" name="Username" class="box"><br>
          <label for="">CODE</label><br>
          <input type="password" name="password"  class="box"><br>
          <input type="submit" class="button"><br>
          
       </form>
        </div>
        </div>
</body>
</html>