<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/login.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'>
</head>
<body>
    <nav>
        <div class="wrapper">
          <div class="logo"><img src="/images/Screenshot__27_-removebg-preview.png" alt="" width="100px" class="logoimg"></div>
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">contact</a></li>
            <li><a href="#">register</a></li>
            <li><a href="#">Feedback</a></li>
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
      </nav>
    <div class="main">

    <div class="formbox">
   <form action="/login" method="post">

      <label for="">email</label><br>
      <input type="text" name="email" value="abdulmueesp5@gmail.com" class="box" required><br>
      <label for="">Password</label><br>
      <input type="password" name="password" value="5555" class="box" required><br>
      <input type="submit" class="button"><br>
      <a href="/forgetps" class="frgtpas">forget password</a>
      
   </form>
    </div>
    </div>
</body>
<script src="/validation/loginvalidation.js"></script>
</html>