<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/ussrslist.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
</head>

<body>

    <section id="menu">
        <div class="logo">
            <img src="/images/Screenshot__27_-removebg-preview.png" alt="">
            <h2>Mstore</h2>
        </div>
        <div class="items">
            <li>
                <i class="fa-solid fa-chart-pie"></i>
                <a href="/adminHome">Dashboard</a>
              </li>
              <li>
                <i class="fa-solid fa-table-cells-large"></i>
                <a href="/userslist">Users</a>
              </li>
              <li>
                <i class="fa-regular fa-pen-to-square"></i>
                <a href="/adminproducts">products</a>
              </li>
              <li>
                <i class="fa-solid fa-credit-card"></i>
                <a href="/category">Category</a>
              </li>
              <li><i class="fa-solid fa-burger"></i> <a href="/banner">Banner</a></li>
              <li>
                <i class="fa-solid fa-chart-line"></i> <a href="/coupon">coupon</a>
              </li>
              <li>
                <i class="fa-solid fa-table-cells-large"></i>
                <a href="/adoders">oders</a>
              </li>
        </div>

    </section>


    <section id="interface">
        <div class="navigation">
            <div class="n1">
                
            </div>

            <div class="profile">
               
                <img src="/images/149071.png" alt="">
            </div>
        </div>

        <h3 class="i-name">Uerslist</h3>


        <dir class="board">
            <table width="100%"> 
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Number</td>
                        <!-- <td>Role</td> -->
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <% signup.forEach((data) =>{%>
                    <tr>
                        <td class="people"> 
                            <img src="/images/flat-business-man-user-profile-avatar-icon-vector-4333097.jpg" alt="">
                            <div class="people-de">
                                <h5><%=data.fullname %></h5>
                                <!-- <p>kakavayil@gmail.com</p> -->
                            </div>
                        </td>

                        <td class="people-des">
                          <h5><%= data.email %></h5>
                          <!-- <p>web dev</p> -->
                        </td>

                        <td class="active"><p><%=data.number %></p></td>

                        <!-- <td class="role"> <p>Owner</p></td> -->

                        <td class="edit"> <a href="#">Edit</a></td>
                    </tr>


        
                </tbody>
                <%});%>
            </table>
        </dir>
    </section>

    <script>
        $('#menu-btn').click(function() {
           $('#menu').toggleClass('active')
        })
    </script>
</body>

</html>